/*=========== RESET CSS ==============*/
*,
*::before,
*::after {
    box-sizing: inherit;
		margin: 0;
    padding: 0;
}
html{
	 font-size: 14px;
}
html, body {
  height: 100vh;
  overflow: hidden;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul{
		padding: 0;
    margin: 0;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
		color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  max-height: 100vh;
	/* outline: 1px dotted tomato; */
}
/*=========== MAIN CSS ==============*/
:root{
	--b: #212121;
	--o: #FF8A37;
	--w: #ffffff;
}
body{
  background-color: var(--b);
  font-family: "Silkscreen", sans-serif;
  overflow-y:hidden;
}
.score{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: var(--w);
  padding: 20px 15px;
}
.score-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
.score-player{
  position: relative;
}
.score-player, .score-amount {
  display: flex;
  align-items: center;
  gap: 10px;
}
.score-player_icon,
.score-player_icon-coin{
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("./img/whiskas.png") no-repeat center/cover;
  image-rendering: pixelated;
}
.score-player_icon-coin{
  position: absolute;
  display: none;
}
.score-amount_icon{
  display: inline-block;
  width: 31px;
  height: 37px;
  background: url("./img/countJump.png") no-repeat center/cover;
  image-rendering: pixelated;
}
.cloud {
  position: absolute;
  top: 1vh;
  left: 0;
  width: clamp(100px, 40vw, 320px);
  aspect-ratio: 2 / 1;
  background: url("./img/cloud.png") no-repeat center/contain;
  background-size: contain;
  image-rendering: pixelated;
  z-index: 3;
  pointer-events: none;

  animation: cloudMove 14s ease-in-out infinite;
}


@keyframes cloudMove {
  0%   { left: 0; }
  50%  { left: calc(100% - clamp(100px, 40vw, 320px)); }
  100% { left: 0; }
}

.drop {
  position: absolute;
  width: 12px;
  height: 16px;
  background: url('./img/kraplya.png') no-repeat center/contain;
  image-rendering: pixelated;
  animation: fall 2s linear forwards;
  pointer-events: none;
  z-index: 2;
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(100vh); /* можеш змінити на gameHeight */
  }
}

.remout{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}
.remout-line{
  display: block;
  width: 100%;
  height: 32px;
  background-image: url("./img/grass.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: auto 100%;
  image-rendering: pixelated;
  position: absolute;
  top: -10px;
}
.remout-btn{
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  gap: 10px;
  align-items: center;
}

/*button{
  padding: 15px 30px;
  background-color:  var(--o);
  border: none;
  border-radius: 10px;
  font-family: "Outfit", Sans-Serif;
  font-weight: 700; 
}*/
.left{
  background: url("./img/btn-left-active.png") no-repeat center/cover;
  width: clamp(80px, 20vw, 140px);
  height: clamp(40px, 10vw, 70px);
  image-rendering: pixelated;
  border: none;
}
.right{
    background: url("./img/btn-right-active.png") no-repeat center/cover;
  width: clamp(80px, 20vw, 140px);
  height: clamp(40px, 10vw, 70px);
    image-rendering: pixelated;
    border: none;
}
.game-window{
  width: 100%;
  height: calc(100vh - 180px);
  position: relative;
  overflow: hidden;
  background: linear-gradient(#ffab87, #8bacdb);
}
.player{
  background: url("./img/player.png") no-repeat center/cover;
   /*background: url("/skins/blueCollar.png") no-repeat center/cover;*/
  image-rendering: pixelated;
  position: absolute;
  width: 67px;
  height: 60px;
  transition: transform 0.3 ease ;
}
.lifes{
  display: flex;
  align-items: center;
  gap: 10px;
}
.firstLife, 
.secondLife, 
.thirdLife{
  width:clamp(30px, 8vw, 40px);
  height: clamp(30px, 10vw, 40px);
    background: url("./img/ball-of-thread.png") no-repeat center/cover;
  image-rendering: pixelated;
}
